[Unit]
Description=mqtt-db
After=network.target

[Service]
WorkingDirectory=/home/pi/mqtt-db
ExecStart=/usr/bin/npm start
Restart=on-failure
User=pi

[Install]
WantedBy=multi-user.target